<input type="hidden" name="id_infomation" value="{{$requestInformation->requestInformation->id}}">
<label for="organization_or_individual_name" class="mb-2">Tên Tổ chức Cá nhân</label>
<input type="text" id="organization_or_individual_name" class="form-control" style="width:150px"
    name="organization_or_individual_name"
    value="{{$requestInformation->requestInformation->organization_or_individual_name  }}">
@error('organization_or_individual_name')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Tên Tổ chức Cá nhân chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="contact_person" class="mb-2">Người Liên hệ:</label>
<input type="text" id="contact_person" class="form-control" style="width:150px" name="contact_person"
    value="{{ $requestInformation->requestInformation->contact_person}}">
@error('contact_person')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red"> Người Liên hệ chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="Birthday" class="mb-2">Ngày Sinh:</label>
<input type="date" id="data-pick" name="Birthday" class="form-control"
    value="{{ $requestInformation->requestInformation->Birthday  }}">
@error('Birthday')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red"> Người Liên hệ chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="phone_number" class="mb-2">Số điện thoại: <a
        href="tel:{{$requestInformation->requestInformation->phone_number}}">{{$requestInformation->requestInformation->phone_number}}</a>
</label>
<input type="text" id="phone_number" class="form-control" name="phone_number"
    value="{{  $requestInformation->requestInformation->phone_number }}">

@error('phone_number')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red"> Số điện thoại chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="email" class="mb-2">Email</label>
<input type="text" id="email" class="form-control" style="width:150px" name="email"
    value="{{  $requestInformation->requestInformation->email }}">
@error('email')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red"> Email có thể chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="CDCD" class="mb-2">Căn Cước công đân</label>
<input type="text" id="CDCD" class="form-control" style="width:150px" name="CDCD"
    value=" {{   $requestInformation->requestInformation->CDCD }}">
@error('CDCD')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red"> Căn Cước công đân chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="NameCDCD" class="mb-2">Số tờ Tùy Thân:</label>
<input type="text" id="NameCDCD" class="form-control" style="width:150px" name="NameCDCD"
    value="{{$requestInformation->requestInformation->NameCDCD }}">
@error('NameCDCD')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Số tờ Tùy Thân chưa nhập hoặc có thể nhập sai</small>
@enderror

<label for="DayCDCD" class="mb-2">Ngày cấp</label>
<input type="date" id="data-pick" name="DayCDCD" class="form-control"
    value="{{$requestInformation->requestInformation->DayCDCD}}">

@error('DayCDCD')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Ngày cấp chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="DirecrtCDCD" class="mb-2">Nơi cấp</label>
<input type="input" id="DirecrtCDCD" class="form-control" style="width:150px" name="DirecrtCDCD"
    value=" {{$requestInformation->requestInformation->DirecrtCDCD }}  ">
@error('DirecrtCDCD')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Nơi cấp chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="contact_address_district" class="mb-2">Chọn Tỉnh/ Thành phố</label>

<input type="text" class="form-control" style="width:150px" name="city1" id="city1"
    value=" {{$requestInformation->requestInformation->contact_address_city }} ">
<label for="contact_address_ward" class="mb-2">Chọn Quận/ huyện</label>
<input type="text" class="form-control" style="width:150px" name="district1" id="district1"
    value=" {{$requestInformation->requestInformation->contact_address_district }} ">
<label for="contact_address_street" class="mb-2">Chọn Phường/Xã</label>
<input type="text" class="form-control" style="width:150px" name="ward1" id="ward1"
    value=" {{$requestInformation->requestInformation->contact_address_ward }} ">
<label for="contact_address_street" class="mb-2">Địa Chỉ Chi tiết</label>
<input type="text" id="contact_address_street" class="form-control" style="width:150px" name="contact_address_street"
    value=" {{$requestInformation->requestInformation->contact_address_street }}   ">
@error('contact_address_street')
<small style="color:red"> Địa chỉ chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="organization_or_individual_name" class="mb-2">Chọn Tỉnh/ Thành phố</label>
<input type="text" id="city2" class="form-control" style="width:150px" name="city2"
    value=" {{$requestInformation->requestInformation->city }} ">
@error('city')
<small style="color:red"> Địa chỉ chưa nhập hoặc có thể nhập sai</small>
@enderror

<label for="organization_or_individual_name" class="mb-2">Chọn Phường/Xã</label>
<input type="text" id="district2" class="form-control" style="width:150px" name="district2"
    value=" {{$requestInformation->requestInformation->district }} ">

@error('district')
<small style="color:red"> Địa chỉ chưa nhập hoặc có thể nhập sai</small>
@enderror

<label for="organization_or_individual_name" class="mb-2">Chọn Phường/Xã</label>
<input type="text" id="ward2" class="form-control" style="width:150px" name="ward2"
    value=" {{$requestInformation->requestInformation->ward }} ">

@error('ward')
<small style="color:red"> Địa chỉ chưa nhập hoặc có thể nhập sai</small>
@enderror
<label for="organization_or_individual_name" class="mb-2">Địa Chỉ Chi tiết</label>
<input type="text" class="form-control" style="width:150px" name="street" id="street"
    value=" {{$requestInformation->requestInformation->street }} ">

@error('street')
<small style="color:red"> Địa chỉ chưa nhập hoặc có thể nhập sai</small>
@enderror

<label for="sheet_number" class="mb-2">Số Tờ:</label>
<input type="text" id="sheet_number" class="form-control" style="width:150px" name="sheet_number"
    value="{{$requestInformation->requestInformation->sheet_number}}">
@error('sheet_number')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Số Tờ chưa nhập hoặc có thể nhập sai</small>
@enderror


<label for="plot_number" class="mb-2">Số Thửa<a href=""></a>:</label>
<input type="text" id="plot_number" class="form-control" style="width:150px" name="plot_number"
    value=" {{$requestInformation->requestInformation->plot_number}} ">
@error('plot_number')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Số Thửa chưa nhập hoặc có thể nhập sai</small>
@enderror

<label for="area_size" class="mb-2">Diện tích<a href=""></a>:</label>
<input type="text" id="area_size" class="form-control" style="width:150px" name="area_size"
    value="{{$requestInformation->requestInformation->area_size}}">
@error('area_size')
<style>
    label {
        color: red;
    }
</style>
<small style="color:red">Diện tích chưa nhập hoặc có thể nhập sai</small>
@enderror